appdirs
appnope
backcall
backports-abc
backports.ssl-match-hostname
bleach
certifi
chardet
cloudpickle
cmake
colorama
cycler
Cython
decorator
defusedxml
distlib
entrypoints
filelock
freetype-py
future
h5py
idna
jedi
Jinja2
joblib
jsonschema
kiwisolver
lesscpy
lxml
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
nltk
notebook
numpy
opencv-python
pandas
pandocfilters
parso
path.py
pexpect
pickleshare
Pillow
ply
prometheus-client
prompt-toolkit
ptyprocess
pyglet
Pygments
pyparsing
pypng
pyreadline
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
requests
scikit-learn
scipy
Send2Trash
simplegeneric
singledispatch
six
sklearn
terminado
testpath
tld
torch
torchvision
tornado
tqdm
traitlets
urllib3
virtualenv
wcwidth
webencodings
